/* 
#1D8B8E
*/
body {
  min-height: 100%;
  width: 100%;
}
body h1,
h2,
h3,
h4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  color: #3b4646;
}
/* .App {
  min-height: 100vh;
} */
.wrapper {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
}
body {
  padding-top: 55px;
}

/* navbar color */
.footer {
  background-color: #f8f9fa;
  border-top: solid 1px #f8f9fe;
}
